<?xml version="1.0"?>

<model>
  <name>Cardboard Box</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>BCR ARM Project</name>
    <email>user@example.com</email>
  </author>

  <description>
    A simple cardboard box for pick and place demonstrations.
  </description>
</model>
