Source: ros-jazzy-bcr-arm-description
Section: misc
Priority: optional
Maintainer: Vimarsh Shah <vimarsh@blackcoffeerobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-urdf-tutorial, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-bcr-arm-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-urdf-tutorial, ros-jazzy-ros-workspace
Description: robot description files including urdf, meshes and launch files for the bcr arm
